<input
  type="text"
  placeholder="Search"
  class="search-input"
  [(ngModel)]="searchQuery"
  (keydown.enter)="onSearch()"
/>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/media/hot.jpg"
      *ngIf="weatherData.current.temp_c > 15"
    />
    <img
      src="../assets/media/cold.jpg"
      *ngIf="weatherData.current.temp_c <= 15"
    />
    <div class="div weather-data">
      <div class="location">
        {{ weatherData.location.name }},{{ weatherData.location.country }}
      </div>
      <div class="temperature">{{ weatherData.current.temp_c }}°C</div>
      <div class="location">
        {{ weatherData.forecast.forecastday[0].date }}
      </div>
      <div class="location">
        Sunrise: {{ weatherData.forecast.forecastday[0].astro.sunrise }}
      </div>
      <div class="location">
        Sunset: {{ weatherData.forecast.forecastday[0].astro.sunset }}
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-conatiner">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/min.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.mintemp_c }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/max.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.maxtemp_c }}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.humidity }} %</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/wind.png" />
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.wind_kph }} km/h
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/uv.png" />
          <span>UV Index</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.uv }}</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/media/rain.png" />
          <span>chance of rain</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.daily_chance_of_rain }}
          %
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
